.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{
  height: 100vh;
}

/* Animation for slide-in effect */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
    /* Slide up effect */
  }

  to {
    opacity: 1;
    transform: translateY(0);
    /* End position */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Animate the entire container */
.App body {
  animation: slideIn 1.5s ease-out forwards;
  opacity: 0;
}